*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 13px;
  min-height: 100%;
  --text-fg-color: #8a8c8e;
  --heading-fg-color: #5b5454;
  --main-bg-color: #eeebe5;
}

:root,
main,
#root,
body {
  height: 100%;
}

body {
  font-size: 1.23rem;
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  background-color: cornflowerblue;
}

.images {
  position: relative;
  height: 0;
  overflow: hidden;
}

#root {
  display: flex;
  width: 90%;
  height: 90%;
  justify-content: center;
  background-color: var(--main-bg-color);
  padding: 0 min(3vw, 40px);
  border-bottom: min(3vw, 40px) solid var(--main-bg-color);
  overflow-y: scroll;
}

main {
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  place-items: center;
  flex-direction: column;
  width: 100%;

  & input[type="file"] {
    height: 0;
    width: 0;
  }
}

h1,
h3 {
  color: var(--heading-fg-color);
  margin: 0;
}

.toolbar {
  display: grid;
  grid-template-areas:
    "heading heading"
    "btn-scan btn-export"
    ". btn-delete"
    "btn-add btn-delete";

  width: 100%;
  margin: 24px 0;
  gap: 16px;

  & .top-bar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    place-items: center;
  }

  h1 {
    grid-area: heading;
  }
}

.btn {
  all: initial;
  appearance: none;
  font-weight: 600;
  border: none;
  box-shadow: 0px 0px 0px 2px #f4ddb4, 0px 0px 0px 3px #fffaee,
    0px 0px 0px 4px #f4ddb4;
  background-color: #fff9e9;
  width: max-content;
  height: min-content;
  border-radius: 2px;
  color: var(--heading-fg-color);
  font-family: serif;
  font-size: 1rem;
  padding: 8px 12px;

  &:hover {
    filter: brightness(0.95);
    transform: scale(1.05);
    cursor: pointer;
  }

  &:active {
    box-shadow: inset 0px 0px 0px 2px #f4ddb4, 0px 0px 0px 3px #fffaee,
      0px 0px 0px 4px #f4ddb4;
  }
}

.btn-add {
  grid-area: btn-add;
}

.btn-scan {
  grid-area: btn-scan;
}

.btn-delete {
  grid-area: btn-delete;
  justify-self: end;
  align-self: end;
  background-color: #ebd9b4;
  box-shadow: 0px 0px 0px 2px #fffaee, 0px 0px 0px 4px #f1e0bc,
    0px 0px 0px 6px #ddc794;
}

.btn-export {
  grid-area: btn-export;
  justify-self: end;
}

.wish-type-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #ebd9b4;
  gap: 16px;
  flex-wrap: wrap;
  box-shadow: 0px 0px 0px 2px #fffaee, 0px 0px 0px 4px #f1e0bc,
    0px 0px 0px 6px #ddc794;
  border-radius: 2px;

  & h3 {
    font-size: 1.5rem;
    margin: 4px 60px;
    text-align: center;
  }
}

@media (max-width: 898px) {
  .wish-type-container {
    gap: 0px;

    & h3 {
      margin: 8px auto;
      width: 100%;
    }

    select {
      min-width: 0px;
    }
  }
}

option {
  text-transform: capitalize;
  font-size: 14px;
}

select {
  text-transform: capitalize;
  box-shadow: 0px 0px 0px 2px #f4ddb4, 0px 0px 0px 3px #fffaee,
    0px 0px 0px 4px #f4ddb4;
  background-color: #fff9e9;
  border: none;
  border-radius: 2px;
  font-weight: 600;
  color: var(--heading-fg-color);
  font-size: 1rem;
  line-height: normal;
  flex: 1;
  min-width: min-content;
  padding-left: 24px;

  &:active {
    box-shadow: inset 0px 0px 0px 2px #f4ddb4, 0px 0px 0px 3px #fffaee,
      0px 0px 0px 4px #f4ddb4;
  }

  &:hover {
    cursor: pointer;
    filter: brightness(0.9);
  }
}

.instructions {
  color: var(--text-fg-color);
  font-weight: 700;
}

.table-container {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: scroll;
  justify-content: space-between;
  color: var(--text-fg-color);
  font-weight: 700;

  & span {
    align-self: center;
    margin: 5% 0 auto 0;
  }
}

table {
  border-collapse: collapse;
  position: relative;
}

caption {
  height: 0;
  opacity: 0;
}

td,
th {
  padding: 8px 12px;
  border: 1px solid #d4bc8e;
  text-align: center;
  width: min-content;
}

th {
  background-color: #ede0ca;
  color: var(--heading-fg-color);
  position: sticky;
  top: -1px;
}

.table-container,
td {
  background-color: #f6f1e7;
}

.four-stars {
  color: #a053e0;
}

.five-stars {
  color: #bd6a32;
}

dialog {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  backdrop-filter: blur(4px);
}

.dialog-modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  place-items: center;
  place-content: center;
}

.dialog-modal-card {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  background-color: #f6f1e7;
  padding: 48px;
  border-radius: 4px;
  color: var(--text-fg-color);
  font-weight: 700;
  gap: 16px;

  & h4 {
    color: var(--heading-fg-color);
    font-size: 2rem;
    margin: 0;
  }
}

.modal-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.error-modal > img {
  box-shadow: 0px 0px 0px 2px #f4ddb4, 0px 0px 0px 3px #fffaee,
    0px 0px 0px 4px #f4ddb4;
}

.inactive-tab {
  height: 0;
  visibility: collapse;
  overflow: hidden;
}

.src_image,
.out_image {
  position: absolute;
  top: 0;
  left: 0;
  visibility: collapse;
}
