.images {
  position: relative;
  height: 0;
  overflow: hidden;
}

.src_image, .out_image {
  position: absolute;
  top: 0;
  left: 0;
  visibility: collapse;
}

table {
  border-collapse: collapse;
}

caption {
  font-size: 2rem;
  font-weight: bold;
}

tr:nth-child(odd)  {
  background-color: #eeeeee;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

.four-stars {
  color: #8a6995;
  font-weight: 600;
}

.five-stars {
  color: #cc9832;
  font-weight: 600;
}

td,
th {
  padding: 4px 8px;
  border: 1px solid lightgray;
}

.inactive-tab {
  height: 0;
  visibility: collapse;
  overflow: hidden;
}

label {
  text-transform: capitalize;
}